.contactCard {
    font-family: inherit;
    border: 1px solid #242424;
    border-radius: 4px;
    padding: 12px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 18px;
    width: 360px;
}

.contactList {
    margin-right: auto;
}

.contactCardItem {
    display: flex;
    align-items: baseline;
    gap: 16px;
}

.contactCardItem:not(:last-child) {
    margin-bottom: 4px;
}

.contactCardIcon {
    transition: transform 250ms linear;
}

.contactCardIcon:not(:last-child) {
    margin-right: 8px;
}

.contactCardIcon:hover,
.contactCardIcon:focus {
    cursor: pointer;
    transform: scale(1.2);
}
