@import "tailwindcss";
@plugin "daisyui" {
    themes: business --default;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

ul,
ol {
    list-style-type: none;
}

img {
    display: block;
    max-width: 100%;
}
